<p class="text-center text-light font-italic lead">Cursos que oferecemos</p>
<article>
    
    <div class="container-md border p-3 mt-2 bg-info">
        <p class="font-italic font-weight-bold">Medicina:</p>
        <p class="text-center">
            A medicina é uma das muitas áreas do conhecimento ligada à manutenção e restauração da saúde. Ela trabalha, num sentido amplo, com a prevenção e cura das doenças humanas e animais num contexto médico.
        </p>
    </div>
    <div class="container border p-3 mt-2 bg-info">
        <p class="font-italic font-weight-bold">Engenharia da Computação:</p>
        <p class="text-center">
            O engenheiro atua no território computacional que, hoje em dia, é muito fértil. Embora o foco da formação seja o hardware — a parte física dos equipamentos —, as demandas para essa profissão têm interface com o software, ou seja, sistemas, programas e redes.
        </p>
    </div>
    <div class="container border p-3 mt-2 bg-info">
        <p class="font-italic font-weight-bold">Farmácia:</p>
        <p class="text-center">
            O curso de Farmácia prepara o aluno para trabalhar no ramo de fármacos, medicamentos, cosméticos, controle, produção e análise de alimentos, além de realizar análises clínicas e toxicológicas. O campo de trabalho do farmacêutico é amplo.
     </p>
    </div>
    <div class="container border p-3 mt-2 bg-info">
        <p class="font-italic font-weight-bold">Econômia:</p>
        <p class="text-center">
        Prepara o aluno para identificar a possibilidade de valorização patrimonial nas empresas, garantir a saúde financeira e a capacidade de expansão de uma instituição.
        </p>
    </div>
    <div class="container border p-3 mt-2 bg-info">
        <p class="font-italic font-weight-bold">Direito:</p>
        <p class="text-center">
            O Direito é a ciência que cuida da aplicação e do cumprimento das normas jurídicas de um país para organizar e manter um bom relacionamento interpessoal entre os grupos e indivíduos da sociedade. 
        </p>
    </div>
x   
</article>
