<p class="text-center text-light font-italic lead mt-3">Professores responsáveis pelos principais cursos</p>
<article>
        <div class="container border bg-info">
            <p class="font-italic font-weight-bold text-center">Medicina:</p>
            <p class="text-center">
                Allyson Vinicius Barbosa Brasil
            </p>
        </div>
        <div class="container border bg-info float: left">
            <p class="font-italic font-weight-bold text-center">Engenharia da Computação:</p>
            <p class="text-center">
                Roberto Vinicius Soarez
            </p>
        </div>
        <div class="container border bg-info">
            <p class="font-italic font-weight-bold text-center">Farmácia:</p>
            <p class="text-center">
                Leonardo Ferrari Ciafreis     
            </p>
        </div>
        <div class="container border bg-info">
            <p class="font-italic font-weight-bold text-center">Econômia:</p>
            <p class="text-center">
                Rosilene Manuel Barbosa Matias
            </p>
        </div>
        <div class="container border bg-info">
            <p class="font-italic font-weight-bold text-center">Direito:</p>
            <p class="text-center">
                Rosangela Aparecida da Silva
            </p>
        </div>
    
</article>