<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Faculdade Um Pouco de Tudo</title>
  </head>
  <body class="bg-secondary">
    <div class="container-md bg-dark">
        <h1 class="display-6 text-center text-info">Faculdade Um Pouco de Tudo</h1>
    </div>
    <div class="container">
    <p class="lead d-inline">Faculdade Um Pouco de Tudo possui cursos das mais diversas áreas.</p>
    </div>
    <br>
    <div class="container">
    <p class="lead d-inline">
        A faculdade feita para você! Venha conversar conosco e conhecer nossas ofertas de
    </p>
    <p class="lead font-weight-bold d-inline">bolsas de estudos!!!</p>
    </div>
    <br><br>

    <app-cursos></app-cursos> 
    <app-professores></app-professores>
    <br>
    <div class="container">
    <section class="lead">
        <p class="d-inline">Com certeza, algum curso irá te agradar, venha conhecer mais de perto.</p>
        <br><br>
        <p class="d-inline">
            Saiba que nossos coordenadores estão à sua disposição!
        </p>
    </section>
    <div class="container mt-2">
        <div class="row">
            <div class="col-9"></div>
            <!--<footer class="text-left col">
                <div class="row ">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#meumodal">Para entrar em contato, clique aqui!!</button></div>
                <div class="modal" id="meumodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modaltitle">Segue contatos</h5>
                                <button class="close" data-dismiss="modal">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">Via email: FaculdadeUmPoucodeTudo@hotmail.com</div>
                            <div class="modal-body">Via telefone: (00)1122-3344</div>
                            <div class="modal-body">Presencialmente: Rua Teixeira, 9072. SP.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>-->
            
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>